/*///////////////top-panel*/

.top-panel {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 20px;
}

.top-panel__item {
    flex: 1;    
    margin-right: 20px;
    padding: 15px;
}

.top-panel__button {
    display: inline-block;
    background: #999;
    color: white;
    padding: .5em;
    cursor: pointer;
    text-decoration: none;
}

    .top-panel__button:hover {
        background-color: #b3b3b3;
    }