﻿
@{
    Layout = null;
}

@using SecondHand.Web.Areas.BackOffice.Models.NavigationBuilder;

@model List<CategoryFlatListItem>


<div class="top-panel">
    <div class="top-panel__item">
        <a asp-route="getToAddProduct" class="top-panel__button">Добавить товар</a>
    </div>
    <div class="top-panel__item">
        <label for="category-sel-product-filter">
            Фильтр по категориям:
            <select id="category-sel-product-filter">
                <option>Все</option>
                <option value="_without">Без категории</option>
                @foreach (var item in Model)
                {
                    <option class="@("l" + item.Level)" value="@item.Item.Id">@item.Item.Name</option>
                }
            </select>
        </label>        
    </div>
</div>