﻿@using SecondHand.Web.Areas.BackOffice.Models.Products;

@{
    ViewData["ActiveMenuItem"] = "products";
}

@model Edit

<div class="flex-grid product-edit">
    <div class="flex-grid__item product-edit__form-panel">
        <form asp-route="editProduct" id="edit-product-form" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <ul class="edit-form">
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="SelectedCategoryId"></label>
                    <div class="edit-form__edit-section">
                        <select id="category-sel-product-edit" asp-for="SelectedCategoryId">
                            @if (Model.SelectedCategoryId == null)
                            {
                                <option selected="selected" value="">Выберите категорию</option>
                            }
                            else
                            {
                                <option>Выберите категорию</option>
                            }

                            @foreach (var item in Model.CategoryOptions)
                            {
                                if (item.Item.Id == Model.SelectedCategoryId)
                                {
                                    <option class="@("l" + item.Level)" selected="selected" value="@item.Item.Id">@item.Item.Name</option>
                                }
                                else
                                {
                                    <option class="@("l" + item.Level)" value="@item.Item.Id">@item.Item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </li>
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="Name"></label>
                    <input class="edit-form__editable" asp-for="Name" />
                </li>
                <li class="edit-form__row">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </li>
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="Price"></label>
                    <input class="edit-form__editable" asp-for="Price" />
                </li>
                <li class="edit-form__row">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </li>
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="Size"></label>
                    <input class="edit-form__editable" asp-for="Size" />
                </li>
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="StockBalance"></label>
                    <input class="edit-form__editable" asp-for="StockBalance" />
                </li>
                <li class="edit-form__row">
                    <span asp-validation-for="StockBalance" class="text-danger"></span>
                </li>
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="IsHidden"></label>
                    <div class="edit-form__edit-section">
                        <input class="edit-form__editable" asp-for="IsHidden" />
                    </div>
                </li>
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="NewImages"></label>
                    <div class="edit-form__edit-section">
                        <button id="image-fake-btn" type="button" class="edit-form__button edit-form__button_gr add-photo-btn">Добавить изображение</button>
                    </div>
                </li>
                <li class="edit-form__row">
                    <div class="preview-imgs"></div>
                </li>
                <li class="edit-form__row">
                    <button id="remove-product" class="edit-form__button edit-form__button_rd" data-uri="@Url.RouteUrl("removeProduct", new { id = Model.Id })">Удалить</button>
                    <div class="edit-form__edit-section edit-form__edit-section_al-r">
                        <a asp-route="getToEditProductsIndex" class="edit-form__button">Отмена</a>
                        <button type="submit" class="edit-form__button edit-form__button_gr">Сохранить</button>
                    </div>
                </li>
            </ul>
        </form>
        <input id="desired-img-input" type="file" multiple="multiple" style="display:none" accept='image/*' />
    </div>

    @foreach (var image in Model.PersistedImages)
    {
    <div class="flex-grid__item product-edit__image-tile">
        <a class="product-edit__image-link" href="@image.Path">
            <img class="product-edit__image" src="@image.Path" alt="@Model.Name" data-remove="@image.HasToBeRemoved" data-preview="@image.IsPreview" />
        </a>
        <i class="fa fa fa-remove fa-lg product-edit__image-remove" title="Пометить на удаление"></i>
        <i class="fa fa-check fa-lg product-edit__image-add-preview" title="Пометить как предпросмотр"></i>
    </div>
    }
</div>

@section Styles {
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib//magnific-popup.js/magnific-popup.min.css">
    <link href="~/backoffice/products/index.css" rel="stylesheet" />
    <link href="~/backoffice/products/add-edit.css" rel="stylesheet" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script type="text/javascript" src="~/lib/select2/js/select2.js"></script>
    <script type="text/javascript" src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/lib/magnific-popup.js/jquery.magnific-popup.min.js"></script>
    <script src="~/backoffice/products/add-edit.js"></script>
}
