﻿@{
    ViewData["ActiveMenuItem"] = "products";
}

@model SecondHand.Web.Areas.BackOffice.Models.Products.Index

@await Html.PartialAsync("_TopButtonsPanel", Model.CategoryOptions)


<div id="products-list-container" class="flex-grid">
</div>
<script id="products-list-tmpl-mu" type="text/x-mustache-template">
    {{#products}}
    <div class="flex-grid__item product-item">
        <div class="product-item__image-container">
            <img class="product-item__image" src="{{imagePath}}" alt="{{name}}" />
        </div>
        <div class="product-item__info-section">
            <span class="product-item__name">{{name}}</span>
            <span class="product-item__price">{{price}}</span>
        </div>
        <a class="product-item__edit-link" href="{{links.edit}}"></a>
    </div>
    {{/products}}
</script>




@section Styles {
    <link href="~/lib/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/backoffice/products/index.css" rel="stylesheet" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.js"></script>
    <script type="text/javascript" src="~/backoffice/products/index.js"></script>
    <script type="text/javascript" src="~/lib/mustache.js/mustache.min.js"></script>
}
