﻿@using SecondHand.Application.Catalog.ProductAggregate.Queries;
@using System.Globalization;
@model ProductDataView
@{
    var imagePath = (Model.Images.FirstOrDefault(x => x.IsPreview == true) ?? Model.Images.FirstOrDefault())?.Path;
}
<div class="shopfront-details">

    <div class="shopfront-details__body">
        <div class="shopfront-details__image-container">
            <img class="shopfront-details__image" src="@imagePath" alt="@Model.Label" />
        </div>

        <aside class="shopfront-details__aside">
            @foreach (var value in Model.Values)
            {
                <p class="shopfront-details__item">@value.Label:&nbsp;@value.Value</p>
            }
            @*<h3 class="shopfront-details__name">Вместо имени</h3>*@
            <p class="shopfront-details__item">Цена:&nbsp;@Model.Price.ToString("C", CultureInfo.CurrentCulture)</p>
            @if (Model.IsThereProductInStock())
            {
                <p class="shopfront-details__item shopfront-details__item_grn">В наличии</p>
            }
            else
            {
                <p class="shopfront-details__item shopfront-details__item_red">Нет в наличи</p>
            }
        </aside>

    </div>
    <div class="shopfront-details__image-list">
        @foreach (var item in Model.Images)
        {
            <a class="shopfront-details__image-link" href="@item.Path">
                <img class="shopfront-details__image-list-item" src="@item.Path" />
            </a>
        }
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/lib/magnific-popup.js/magnific-popup.min.css">
    <link href="~/store/product-details.css" rel="stylesheet" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/magnific-popup.js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/store/product-details.js"></script>
}