﻿@model SectionProducts
@using System.Globalization;

<h2 class="shopfront-name">@Model.Name</h2>
<div class="shopfront">
    @if (Model.ProductPreviews.Any())
    {
        @foreach (var item in Model.ProductPreviews)
        {
            if (item.IsHidden) { continue; }
            <figure class="shopfront__item">
                <a class="shopfront__item-link" asp-route="getProductDetails" asp-route-productId="@item.Id">
                    <div class="shopfront__image-container">
                        <img class="shopfront__item-image" src="@((item.Images.FirstOrDefault(x => x.IsPreview == true) ?? item.Images.FirstOrDefault())?.Path)" />
                    </div>
                    <figcaption class="shopfront__item-price">@item.Price.ToString("C", CultureInfo.CurrentCulture)</figcaption>
                    <figcaption class="shopfront__item-name">@item.Label</figcaption>
                </a>
            </figure>
        }
    }
    else
    {
        <h1 class="shopfront__noresult">Ничего не найдено</h1>
    }

</div>

@section Styles {
    <link href="~/store/product-list.css" rel="stylesheet" />
}