﻿.preview-imgs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.preview-imgs__item {
    width: 100%;
}

.preview-imgs__item-link {
    display: block;
    flex: 0 0 200px;
    margin-top: 10px;
    margin-left: 5px;
}
