﻿.l2 {
    padding-left: 1em;
}

.l3 {
    padding-left: 2em;
}

.l4 {
    padding-left: 3em;
}

.l5 {
    padding-left: 4em;
}

.l6 {
    padding-left: 5em;
}

.l7 {
    padding-left: 6em;
}

.l8 {
    padding-left: 7em;
}

.l9 {
    padding-left: 8em;
}

.l10 {
    padding-left: 9em;
}


.product-item {
    flex: 0 0 0;
    width: 251px;
    margin: 0;
    margin-bottom: 20px;
    min-height: 335px;
    position: relative;
}

.product-item__info-section {
    line-height: 26px;
}

.product-item__info-section::after {
    content: "";
    display: table;
    clear: both;
}

.product-item__name {
    float: left;
    max-width: 141px;
    /*display: inline-block;*/
}

.product-item__price {
    float: right;
    /*display: inline-block;*/
}

.product-item__image {
    width: 220px;
    max-height: 275px;
}

.product-item__image-container {
    height: 275px;
    margin-bottom: 11px;
}

.product-item__edit-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.flex-grid {
    justify-content: space-between;
}



.product-edit {
    padding-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-edit__form-panel {
    flex: 1 1 100%;
}

.product-edit__image-tile {
    flex: 0;
    text-align: center;
}

.product-edit__image {
    max-width: 542px;
}

.product-edit__image-remove, .product-edit__image-add-preview {
    margin-right: 38px;
    line-height: 1em;
    font-size: 3em;
}

    .product-edit__image-remove:before, .product-edit__image-add-preview:before {
        cursor: pointer;
    }

.product-edit__image-remove_red:before {
    color: red;
}

.product-edit__image-add-preview_green:before {
    color: green;
}