﻿@model HomeViewModel

@foreach (var categorySections in Model.CategorySections)
{
    <h2 class="shopfront-name">@categorySections.Name</h2>
    <section class="shopfront">
        @foreach (var item in categorySections.Categories)
        {
            <figure class="shopfront__item">
                <a class="shopfront__item-link" asp-route="getProductsByCategory" asp-route-categoryId="@item.Id">
                    <div class="shopfront__image-container">
                        <img class="shopfront__item-image" src="@item.ImagePath" />
                    </div>                    
                    <figcaption class="shopfront__item-name">@item.Name</figcaption>
                </a>
            </figure>
        }
    </section>
}