.product-types__property-section {
    margin: 20px;
}
.product-types__add-btn {
    padding: 0 10px;
    margin-top: 15px;
}

.product-type-item__dropdown {
    line-height: 28px;
    min-width: 250px;
}