.left-panel {
    width: 200px;
    background: #404040;
}

/*///////////////user-section*/

.user-section {
    position: relative;
    height: 80px;
    padding: 20px 0 0 15px;
    font-size: 16px;
    color: #fff;
    background: #3c3c3c;
}

.user-section__quit:before {
    content: '\f08b';
    font: normal 20px fontawesome;
    top: 3px;
    right: -18px;
    position: relative;
}

.user-section__ava {
    border: 1px solid #fff;
    width: 36px;
    height: 36px;
    margin: 0 10px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.user-section__ava:before {
    content: '\f007';
    font: normal 20px fontawesome;
    top: 7px;
    left: 9px;
    position: absolute;
}

.user-section__name {
    display: inline-block;
    max-width: 79px;
    vertical-align: middle;
    word-break: break-all;
}

/*///////////////navigation-main*/

.navigation-main {
    list-style: none;
}

.navigation-main__partition {
    display: block;
    padding: 15px;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    border-bottom: 1px solid #3c3c3c;
}

.navigation-main__link {
    position: relative;
    display: block;
    padding: 15px 15px 17px 50px;
    color: #fff;
    border-bottom: 1px solid #3c3c3c;
    text-decoration: none;
}

    .navigation-main__link:hover, .navigation-main__link_active {
        background: #3b3b3b;
    }

    .navigation-main__link:before {
        font: normal 16px fontawesome;
        top: 15px;
        left: 18px;
        position: absolute;
    }

.navigation-main__item:nth-child(2) .navigation-main__link:before {
    content: '\f00a';
}

.navigation-main__item:nth-child(3) .navigation-main__link:before {
    content: '\f012';
}

.navigation-main__item:nth-child(4) .navigation-main__link:before {
    content: '\f018';
}

.navigation-main__item:nth-child(5) .navigation-main__link:before {
    content: '\f024';
}

.navigation-main__item:nth-child(6) .navigation-main__link:before {
    content: '\f0c3';
}

.navigation-main__item:nth-child(7) .navigation-main__link:before {
    content: '\f09b';
}

.navigation-main__item:nth-child(8) .navigation-main__link:before {
    content: '\f0fa';
}

.navigation-main__item:nth-child(10) .navigation-main__link:before {
    content: '\f002';
}

.navigation-main__item:nth-child(11) .navigation-main__link:before {
    content: '\f085';
}

.navigation-main__item:nth-child(12) .navigation-main__link:before {
    content: '\f08b';
}