﻿@import url('../fonts/OpenSans/setup.css');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-danger {
    color: red;
}

/*///////////////layout*/

.layout {
    font: 15px/1 'Open Sans', sans-serif;
    color: #777;
    display: block;
}

html, .layout, .layout__wrapper {
    min-height: 100vh;
    max-width: 100%;
}

.layout__wrapper {
    display: flex;
}

.layout__left-panel {
    width: 200px;
    background: #404040;
}

.layout__main {
    flex: 1;
    padding: 25px;
    background: #f5f5f5;
}

.layout__main-title {
    height: 80px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 76px;
    font-size: 24px;
    font-weight: 400;
    background: #ddd;
}

/*///////////////user-section*/

.user-section {
    position: relative;
    height: 80px;
    padding: 20px 0 0 15px;
    font-size: 16px;
    color: #fff;
    background: #3c3c3c;
}

.user-section__quit:before {
    content: '\f08b';
    font: normal 20px fontawesome;
    top: 3px;
    right: -18px;
    position: relative;
}

.user-section__ava {
    border: 1px solid #fff;
    width: 36px;
    height: 36px;
    margin: 0 10px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.user-section__ava:before {
    content: '\f007';
    font: normal 20px fontawesome;
    top: 7px;
    left: 9px;
    position: absolute;
}

.user-section__name {
    display: inline-block;
    max-width: 79px;
    vertical-align: middle;
    word-break: break-all;
}

/*///////////////navigation-main*/

.navigation-main {
    list-style: none;
}

.navigation-main__partition {
    display: block;
    padding: 15px;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    border-bottom: 1px solid #3c3c3c;
}

.navigation-main__link {
    position: relative;
    display: block;
    padding: 15px 15px 17px 50px;
    color: #fff;
    border-bottom: 1px solid #3c3c3c;
    text-decoration: none;
}

    .navigation-main__link:hover, .navigation-main__link_active {
        background: #3b3b3b;
    }

    .navigation-main__link:before {
        font: normal 16px fontawesome;
        top: 15px;
        left: 18px;
        position: absolute;
    }

.navigation-main__item:nth-child(2) .navigation-main__link:before {
    content: '\f00a';
}

.navigation-main__item:nth-child(3) .navigation-main__link:before {
    content: '\f012';
}

.navigation-main__item:nth-child(4) .navigation-main__link:before {
    content: '\f018';
}

.navigation-main__item:nth-child(5) .navigation-main__link:before {
    content: '\f024';
}

.navigation-main__item:nth-child(6) .navigation-main__link:before {
    content: '\f0c3';
}

.navigation-main__item:nth-child(7) .navigation-main__link:before {
    content: '\f09b';
}

.navigation-main__item:nth-child(8) .navigation-main__link:before {
    content: '\f0fa';
}

.navigation-main__item:nth-child(10) .navigation-main__link:before {
    content: '\f002';
}

.navigation-main__item:nth-child(11) .navigation-main__link:before {
    content: '\f085';
}

.navigation-main__item:nth-child(12) .navigation-main__link:before {
    content: '\f08b';
}

/*///////////////flex-grid*/

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

    .flex-grid__item {
        flex: 1;
        margin: 0 20px 20px 0;
        padding: 15px;
        border: 1px solid #ddd;
        background: #fff;
    }

.flex-grid > .flex-grid__item:last-child {
    margin-right: 0;
}

/*.flex-grid li {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 0 25px;
}

    .flex-grid li:before {
        content: '\f00c';
        font: normal 16px fontawesome;
        color: #999;
        top: 0;
        left: 0;
        position: absolute;
    }*/

.flex-grid__item-title {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    line-height: 1.5em;
}

/*///////////////top-panel*/

.top-panel {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 20px;
}

.top-panel__item {
    flex: 1;    
    margin-right: 20px;
    padding: 15px;
}

.top-panel__button {
    display: inline-block;
    background: #999;
    color: white;
    padding: .5em;
    cursor: pointer;
    text-decoration: none;
}

    .top-panel__button:hover {
        background-color: #b3b3b3;
    }

/*///////////////edit-form*/

.edit-form {
    list-style: none;
    padding: 0;
}

.edit-form__row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.edit-form__row_tech {
    padding:0 .5em;
}

.edit-form__label {
    flex: 1;
    padding: .5em 1em .5em 0;
}

.edit-form__editable {
    flex: 2;
    padding: .5em;
    border: 1px solid #999;
    color: #444;
    font: inherit;
}

.edit-form__edit-section {
    flex: 2;
    margin-left: -.5em;
}

.edit-form__edit-section_al-r {
    text-align: right;
}

    .edit-form__image {
        max-height: 400px;
    }

.edit-form__button {
    background: #999;
    color: white;
    border: 0;
    padding: .5em;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font: inherit;
}

.edit-form__button_gr {
    background: #95ad97;
}

.edit-form__button_rd {
    background: #c79191;
}
    /*
** Media Queries
***********************************************************/
    @media (max-width: 1000px) {
        .flex-grid {
        flex-direction: column;
    }

        .flex-grid > div {
            margin-right: 0;
        }
}
