@import url('./fonts/OpenSans/setup.css');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, .layout, .layout__wrapper {
    min-height: 100vh;
    max-width: 100%;
}

.layout {
    font: 15px/1 'Open Sans', sans-serif;
    color: #777;
    display: block;
}

.layout__wrapper {
    display: flex;
}

.layout__main {
    flex: 1;
    padding: 25px;
    background: #f5f5f5;
}

/*///////////////flex-grid*/

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

    .flex-grid__item {
        flex: 1;
        margin: 0 20px 20px 0;
        padding: 15px;
        border: 1px solid #ddd;
        background: #fff;
    }

.flex-grid > .flex-grid__item:last-child {
    margin-right: 0;
}

.flex-grid__item-title {
    margin: -15px -15px 15px -15px;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    line-height: 1.5em;
}

.flex-grid__item-tab {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-decoration: none;
    display: block;
    color: inherit;
    flex: 1;
    line-height: 1.5em;
}

.flex-grid__item-tab_active {
    background-color: white;
    border-bottom: 1px dashed #ddd;
}

    .flex-grid__item-tab:hover {
        background-color: white;
    }

    .flex-grid__item-tab-container {
        margin: -15px -15px 15px -15px;
        display: flex;
    }

        .flex-grid__item-tab-container > .flex-grid__item-tab:last-child {
            border-right: none;
        }

/*///////////////edit-form*/

.edit-form {
    list-style: none;
    padding: 0;
}

.edit-form__row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.edit-form__row_tech {
    padding:0 .5em;
}

.edit-form__label {
    flex: 1;
    padding: .5em 1em .5em 0;
}

.edit-form__editable {
    flex: 2;
    padding: .5em;
    border: 1px solid #999;
    color: #444;
    font: inherit;
}
.edit-form__editable_stretched {
    width: 100%;
}

.edit-form__edit-section {
    flex: 2;
    margin-left: -.5em;
}

.edit-form__edit-section_al-r {
    text-align: right;
}


    .edit-form__image {
        max-height: 400px;
    }


/*** buttons
***********************************************************/

.button {
    background: #999;
    color: white;
    border: 0;
    padding: .5em;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font: inherit;
}
.button:hover {
    opacity: .7;
}

.button_gr {
    background: #95ad97;
}

.button_rd {
    background: #c79191;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

/*** Media Queries
***********************************************************/
@media (max-width: 1000px) {
    .flex-grid {
    flex-direction: column;
}

    .flex-grid > div {
        margin-right: 0;
    }
}


/*** Datasheet
***********************************************************/

.datasheet-list-item {
    border-bottom: 1px solid rgba(0,0,0,.1);
    line-height: 40px;
    margin-top: 20px;
}

.datasheet-list-item_invalid {
    border: 1px solid red;
}

.datasheet-list-item__field {
    margin: 0 20px 0 5px;
    color: rgba(0, 0, 0, 1)
}

.datasheet-list-item__right-section {
    float: right;
}

.datasheet-list-item__button {
    padding: 0 20px;
    margin-left: 15px;
}

.datasheet-list-item__input {
    padding: 0 10px;
    margin-left: 5px ;
    margin-right: 5px
}

.datasheet-list-item__dropdown-section {
    display: inline-block;
    margin: 0 5px;
}