/*Product Edit*/
.product-edit {
    padding-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-edit__form-panel {
    flex: 1 1 100%;
}

.product-edit__image-tile {
    flex: 0;
    text-align: center;
}

.product-edit__image {
    max-width: 542px;
}

.product-edit__image-remove, .product-edit__image-add-preview {
    margin-right: 38px;
    line-height: 1em;
    font-size: 3em;
}

    .product-edit__image-remove:before, .product-edit__image-add-preview:before {
        cursor: pointer;
    }

.product-edit__image-remove_red:before {
    color: red;
}

.product-edit__image-add-preview_green:before {
    color: green;
}

.product-edit__submit-btn {
    margin-left: 15px;
}

/* New Images Preview */

.preview-imgs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.preview-imgs__item {
    max-width: 200px;
    /* flex-basis for image scale down issue */
    flex: 0 0 200px;
    margin-top: 10px;
    margin-left: 5px;
}

.preview-imgs__item-link {
    display: block;
    flex: 0 0 200px;
    margin-top: 10px;
    margin-left: 5px;
}