﻿<div class="flex-grid">
    <div class="flex-grid__item">
        <h2 class="flex-grid__item-title">Clean CSS Code</h2>
        <ul>
            <li>no position: absolute</li>
            <li>no float</li>
            <li>no clearfix</li>
            <li>no faux columns</li>
            <li>no javascript</li>
        </ul>
    </div>
    <div class="flex-grid__item">
        <h2 class="flex-grid__item-title">Font Awesome</h2>
        <ul>
            <li>no images</li>
            <li>no extra retina sprites</li>
        </ul>
    </div>
    <div class="flex-grid__item">
        <h2 class="flex-grid__item-title">SCSS</h2>
        <ul>
            <li>no headache :)</li>
        </ul>
    </div>
</div>
<div class="flex-grid">
    <div class="flex-grid__item">
        <h2 class="flex-grid__item-title">Headline</h2>
        Some Content
    </div>
    <div class="flex-grid__item">
        <h2 class="flex-grid__item-title">Headline</h2>
        Some Content
    </div>
</div>
<div class="flex-grid">
    <div class="flex-grid__item">
        <h2 class="flex-grid__item-title">Headline</h2>
        Some Content
    </div>
</div>