﻿
@{
    Layout = null;
}

<div class="top-panel">
    <div class="top-panel__item">
        <a asp-route="getToAddRootCategory" class="top-panel__button">Добавить корневую категорию</a>
    </div>
</div>
