﻿@using SecondHand.Web.Areas.BackOffice.Models.Categories;

@{
    ViewData["ActiveMenuItem"] = "categories";
}

@model CreateRoot

@await Html.PartialAsync("_TopButtonsPanel")

<div class="flex-grid tree-categories">
    <div class="flex-grid__item tree-categories__left">
        @await Component.InvokeAsync("CategoryTreeView")
    </div>
    <div class="flex-grid__item tree-categories__right">
        <div class="flex-grid__item-tab-container">
            <a class="flex-grid__item-tab flex-grid__item-tab_active" asp-route="getToAddRootCategory">Добаветь коренную категорию</a>
        </div>
        <form asp-route="getToAddRootCategory" method="post" enctype="multipart/form-data">
            <ul class="edit-form">
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="Name"></label>
                    <input class="edit-form__editable" asp-for="Name" />
                    
                </li>
                <li class="edit-form__row">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </li>
                <li class="edit-form__row">
                    <input asp-for="IsNotDisplayed" />
                    <label asp-for="IsNotDisplayed"></label>
                </li>
                <li class="edit-form__row">
                    <button type="submit" class="edit-form__button edit-form__button_gr">Сохранить</button>
                </li>
            </ul>
        </form>
    </div>
</div>

@section Styles {
    <link href="~/lib/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/backoffice/categories/index.css" rel="stylesheet" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script type="text/javascript" src="~/lib/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="~/backoffice/categories/index.js"></script>
}
