﻿@using SecondHand.Web.Areas.BackOffice.Models.Categories;

@{
    ViewData["ActiveMenuItem"] = "categories";
}

@model CreateAsChild

@await Html.PartialAsync("_TopButtonsPanel")

<div class="flex-grid tree-categories">
    <div class="flex-grid__item tree-categories__left">
        @await Component.InvokeAsync("CategoryTreeView", new { selectedCategoryId = Model.CurrentCategoryId })
    </div>
    <div class="flex-grid__item tree-categories__right">
        <div class="flex-grid__item-tab-container">
            <a class="flex-grid__item-tab" asp-route="getToEditCurrentCategory" asp-route-id="@Model.CurrentCategoryId">Изменить</a>
            <a class="flex-grid__item-tab flex-grid__item-tab_active" asp-route="getToAddToCurrentCategory" asp-route-id="@Model.CurrentCategoryId">Добавить категрию</a>
        </div>
        <form asp-route="addToCurrentCategory" asp-route-id="@Model.CurrentCategoryId" method="post" enctype="multipart/form-data">
            <ul class="edit-form">
                <li class="edit-form__row">
                    <label class="edit-form__label" asp-for="Name"></label>
                    <input class="edit-form__editable" asp-for="Name" />
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                </li>
                <li class="edit-form__row">
                    <img class="edit-form__image" src="@Model.ImagePath" alt="@Model.Name" />
                </li>
                <li class="edit-form__row">
                    <input asp-for="IsNotDisplayed" />
                    <label asp-for="IsNotDisplayed"></label>
                </li>
                <li class="edit-form__row">
                    <input asp-for="Image" />
                </li>
                <li class="edit-form__row">
                    <button type="submit" class="edit-form__button edit-form__button_gr">Сохранить</button>
                </li>
            </ul>
        </form>
    </div>
</div>

@section Styles {
    <link href="~/lib/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/backoffice/categories/index.css" rel="stylesheet" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script type="text/javascript" src="~/lib/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="~/backoffice/categories/index.js"></script>
}
