﻿@using SecondHand.Web.Areas.BackOffice.Models.Categories;

@{
    ViewData["ActiveMenuItem"] = "categories";
}

@model CreateRoot

@await Html.PartialAsync("_TopButtonsPanel")

<div class="flex-grid tree-categories">
    <div class="flex-grid__item tree-categories__left">
        @await Component.InvokeAsync("CategoryTreeView")
    </div>
</div>

@section Styles {
    <link href="~/lib/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/backoffice/categories/index.css" rel="stylesheet" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="~/backoffice/categories/index.js"></script>
}
