/* Product items */

.product-item {
    flex: 0 0 0;
    width: 251px;
    margin: 0;
    margin-bottom: 20px;
    min-height: 335px;
    position: relative;
}

.product-item__info-section {
    line-height: 26px;
}

.product-item__info-section::after {
    content: "";
    display: table;
    clear: both;
}

.product-item__name {
    float: left;
    max-width: 141px;
    /*display: inline-block;*/
}

.product-item__price {
    float: right;
    /*display: inline-block;*/
}

.product-item__image {
    width: 220px;
    max-height: 275px;
}

.product-item__image-container {
    height: 275px;
    margin-bottom: 11px;
}

.product-item__edit-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}