﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SecondHand</title>
    <environment include="Development, HomeWinDev, HomeLinuxDev">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/store/index.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development, HomeWinDev, HomeLinuxDev">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/store/index.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="header">
        <h1 class="header-title">Second Heand</h1>
    </header>
    <nav class="main-menu">
        @await Component.InvokeAsync("MainMenu")
    </nav>
    <div class="content">

        @RenderBody()

    </div>
    <footer class="footer"></footer>
    <environment include="Development, HomeWinDev, HomeLinuxDev">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/store/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development, HomeWinDev, HomeLinuxDev">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/store/index.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
