﻿@model CategoryTreeView

@if (Model.Nodes != null && Model.Nodes.Any())
{

    <ul>
        @foreach (var node in Model.Nodes)
        {
        <li data-jstree='{"selected":@(node.Id == Model.SelectedCategoryId ? "true" : "false")}'>
            <a asp-route="getToEditCurrentCategory" asp-route-id="@node.Id">@node.Name</a>
            @await Html.PartialAsync("_CategoryTreeView", new CategoryTreeView { Nodes = node.Child, SelectedCategoryId = Model.SelectedCategoryId })
        </li>
        }
    </ul>
}