﻿@{
    Layout = null;

    var activeMenuItem = ViewData["ActiveMenuItem"] as string;
    activeMenuItem = activeMenuItem ?? string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Управление магазином</title>
    <environment include="Development, HomeWinDev, HomeLinuxDev">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/backoffice/index.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development, HomeWinDev, HomeLinuxDev">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/backoffice/index.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body class="layout">
    <div class="layout__wrapper">
        <nav class="layout__left-panel">
            <header class="user-section">
                <span class="user-section__ava"></span>
                <span class="user-section__name">@User.Identity.Name</span>
                <a class="user-section__quit"></a>
            </header>
            <ul class="navigation-main">
                <li class="navigation-main__item"><span class="navigation-main__partition">Меню</span></li>
                <li class="navigation-main__item"><a class="navigation-main__link @((activeMenuItem == "products") ? "navigation-main__link_active" : "")" asp-route="getToEditProductsIndex">Товары</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link @((activeMenuItem == "categories") ? "navigation-main__link_active" : "")" asp-route="getEditCatigoriesIndex">Категории</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
                <li class="navigation-main__item"><span class="navigation-main__partition">Other</span></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
                <li class="navigation-main__item"><a class="navigation-main__link">---</a></li>
            </ul>
        </nav>
        <main class="layout__main">
            <h1 class="layout__main-title">Управление магазином</h1>
            @RenderBody()
        </main>
    </div>
    <environment include="Development, HomeWinDev, HomeLinuxDev">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/backoffice/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development, HomeWinDev, HomeLinuxDev">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/backoffice/index.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
