﻿.tree-categories {
    height: auto;
    align-items: flex-start;
}

.tree-categories__right {
    flex: 2;
}

.flex-grid__item-tab {
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-decoration: none;
    display: block;
    color: inherit;
    flex: 1;
    line-height: 1.5em;
}

.flex-grid__item-tab_active {
    background-color: white;
    border-bottom: 1px dashed #ddd;
}

    .flex-grid__item-tab:hover {
        background-color: white;
    }

    .flex-grid__item-tab-container {
        margin: -15px -15px 15px -15px;
        display: flex;
    }

        .flex-grid__item-tab-container > .flex-grid__item-tab:last-child {
            border-right: none;
        }