﻿/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v12-latin_cyrillic/montserrat-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v12-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


*, *:before, *:after {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {   
    height: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*---------------------------------------------*/
a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input, textarea, label {
    display: block;
    outline: none;
    border: none;
}

/*---------------------------------------------*/
button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

    button:focus {
        outline: none;
    }

iframe {
    border: none;
}

/*--------------------------------Site style-----------------------------------*/

body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    /*font-family: 'Ubuntu', sans-serif;*/
    color: rgba(0,0,0, 0.8);
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-bottom: 76px;
    width: 1231px;
    margin: auto;
}

.footer {
    flex: 0 0 auto;
    height: 90px;
    background-color: #f5f4f4;
    border-top: 1px solid #eae4e4;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
}

.header-title {
    text-transform: uppercase;
    color: inherit;
}


/*--------------------------------store-entry-----------------------------------*/

.shopfront-name {
    margin: 0 15px 15px 15px
}

.shopfront {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 35px 15px;
}

.content .shopfront:last-child {
    margin-bottom: 0;
}

.shopfront__noresult {
    margin: 20vh auto;
    color: rgba(0, 0, 0, 0.4);
}

.shopfront__item {
    flex-basis: 289px;
    margin-right: 15px;
    margin-bottom: 35px;
    border: 1px solid #00000036;
    height: 389px
}

    .shopfront__item:hover {
        transform: scale(1.01);
        box-shadow: 8px 6px 11px rgba(0,0,0,0.2);
    }

.shopfront__item-image {
    width: 100%;
    height: auto;
    top: 0;    
}

    .shopfront__item-image:hover {
        opacity: 0.9;        
    }
.shopfront__image-container {
    height: 360px;
    overflow: hidden;
}

.shopfront__item-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    position: relative;
}

.shopfront__item-name, .shopfront__item-price {
    line-height: 26px;
    margin-left: 0.5em;
}

/*--------------------------------main menu-----------------------------------*/

.main-menu {
    border-bottom: 1px solid black;
    margin-bottom: 76px;
    /*color: inherit;*/
}

.main-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20px;
    width: 100%;
}



.main-menu__item {
    flex: 0 0 auto;
    text-align: center;
    padding: 0 1.5em;
    position: relative;
}

    .main-menu__item:hover {
        background-color: rgba(179, 159, 159, 0.1);        
    }

    .main-menu__item:last-child {
        margin-right: 0;
    }

.main-menu__link {
    cursor: pointer;
    font-size: 119%;
    color: inherit;
    text-decoration: none;
    transition: color .2s ease-in-out;
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 36px;
}

    .main-menu__link:hover {
        color: rgb(204, 0, 0);        
    }

.main-menu__item:hover > .main-menu__sub-list {
    display: block;    
}

.main-menu__sub-list {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    z-index: 10;
    left: 0;
    width: auto;
    min-width: 100%;
}

    .main-menu__sub-list .main-menu__sub-list {
        width: auto;
    }

    .main-menu__sub-list > .main-menu__item {
        text-align: left;
        white-space: nowrap;
    }

    .main-menu__list > .main-menu__sub-list {
        top: 100%;
        left: 0;
    }

.main-menu__sub-list .main-menu__sub-list {
    top: 0;
    left: 100%;
}


.main-menu__arrow {
    font: bolder 17px fontawesome;
    vertical-align: middle;
    margin-left: 0.5em;
    display: inline-block;
}

.main-menu__item:hover > .main-menu__link > .main-menu__arrow {
    transform: rotate(90deg);
}