﻿.shopfront__item {
    padding: 0;
    flex-basis: 289px;
}
.shopfront__image-container {
    height: 334px;
}
.shopfront__item:hover {
    border: 1px solid #00000036;
}

.shopfront__item-link {
    padding-bottom: 0;
}

.shopfront__item-name {
    position: initial;
    bottom: initial;
}
