﻿.shopfront-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px 35px 35px;
    flex-direction: column;
}

.shopfront-details__body {
    width: 827px;
    display: flex;
    height: auto;
}

.shopfront-details__image {
    height: auto;
    width: 100%;
}
.shopfront-details__image-container {
    flex: 1 1 60%;
}

.shopfront-details__image-link {
    display: block;
    margin-right: 5px;
}

    .shopfront-details__aside {
        flex: 1 1 40%;
        padding-left: 35px;
    }

.shopfront-details__name {
    text-align: left;
    margin-bottom: 20px;
}

.shopfront-details__item {
    margin-bottom: 10px;
}

.shopfront-details__image-list {
    display: flex;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    align-items: flex-start;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.shopfront-details__image-list-item {
    max-width: 219px;
    border: 1px solid rgba(0, 0, 0, .21);
}

    .shopfront-details__image-list-item:hover {
        border: 1px solid rgba(0, 0, 0, .59);
    }

    .shopfront-details__item_grn {
        color: rgba(0, 187, 42, 1);
    }

.shopfront-details__item_red {
    color: rgb(187, 0, 0);
}