﻿@model LogInModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <link href="~/fonts/OpenSans/setup.css" rel="stylesheet" />
    <style type="text/css">
        html {
            height: 100%;
        }
        .layout {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0;
            margin: 0;
            font: 15px 'Open Sans', sans-serif;
        }

        .login-box {
            border: 1px solid black;
            padding: 15px;
            font-size: 110%;
            background: #f5f5f5;
        }

        .form-row {
            display: flex;
            padding: 10px;
        }

        .form-row_notification {
            padding: 0 10px;
        }
        .left-align {
            justify-content: flex-end;
        }
            .form-label {
                flex: 1;
                margin-right: 12px;
            }
        .form-control {
            flex: 1;
            line-height: 20px;
            padding: 9px;
            font-size: inherit;
            border: 1px solid rgba(185, 185, 185, 0.5);
        }

        .text-danger {
            color: red;
        }
    </style>
</head>

<body class="layout">
    <div class="login-box">
        <h2>Вход в управление содержимым сайта</h2>
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-row">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="form-row form-row_notification left-align">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div  class="form-row">
                <label class="form-label" asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />                
            </div>
            <div class="form-row form-row_notification left-align">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-row">
                <label class="form-label" asp-for="RememberMe"></label>
                <input class="form-control" asp-for="RememberMe" />
            </div>
            <div class="form-row left-align">
                <input type="submit" value="Войти" />
            </div>
        </form>
    </div>
</body>
</html>
