.hierarchical-dropdown__list, .hierarchical-dropdown__item-list {
    list-style: none outside none;
}

.hierarchical-dropdown__list, .hierarchical-dropdown__item-list, .hierarchical-dropdown__item, .hierarchical-dropdown {
    padding: 0;
    margin: 0;
}


.hierarchical-dropdown__item-list {
    margin-left: 15px;
}

.hierarchical-dropdown__item-text:hover {
    background-color: rgb(240, 240, 240);
    outline:  1px solid #666;
}
.hierarchical-dropdown__item-text, .hierarchical-dropdown__placeholder{
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.hierarchical-dropdown__placeholder, .hierarchical-dropdown__list {
    border: 1px solid #666;
}

.hierarchical-dropdown__list {
    margin-top: -1px; /*компенсировать смещение от бордюра*/
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hierarchical-dropdown {
    position: relative;
}

.hierarchical-dropdown__list_visible {
    display: block;
}

.hierarchical-dropdown__placeholder {
    display: flex;
    flex-wrap: nowrap;
}

.hierarchical-dropdown__placeholder-text {
    flex-grow: 1;
    line-height: inherit;
}

.hierarchical-dropdown__placeholder-arrow:before {
    content: '\f0d7';
    font: normal 20px fontawesome;
    padding: 0 5px 0 5px;
}